<br />
<a (click)="ChangeConfirmationButtons('')" class="waves-effect waves-light btn green" routerLink="/admin/categoria/crear">
    <i class="material-icons left">add</i>Agregar nueva categoría</a>
<br /> 
<table>
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Nombre
            </th>
            <th>
                Productos
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of listaCategoria">
            <td>
                {{c.codigo}}
            </td>
            <td>
                {{c.nombre}}
            </td>
            <td>
                {{c.productos}}
            </td>
            <td>
                <a class="waves-effect waves-light btn blue">
                    <i class="material-icons left">edit</i>Editar</a>

            </td>
            <td>
                <a *ngIf='!showConfirmationButtons; else deleteConfirmationTemplate'
                    (click)="ChangeConfirmationButtons(c.id)" class="waves-effect waves-light btn red">
                    <i class="material-icons left">delete</i>Borrar</a>
                <ng-template #deleteConfirmationTemplate>
                    <div *ngIf="idToShowButtons == c.id">
                        <a class="waves-effect waves-light btn green" (click)="deleteCategory(c.id)">
                            <i class="material-icons left">save</i>Confirmar</a>&nbsp;
                        <a (click)="ChangeConfirmationButtons('')" class="waves-effect waves-light btn red">
                            <i class="material-icons left">cancel</i>Cancelar</a>
                    </div>
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>