<nav class="black">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo">Supermercado</a>
      <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/usuario/login">Login</a></li>
        <li><a routerLink="/usuario/logout">Logout</a></li>
        <li><a routerLink="/admin/categoria/lista">Categoría</a></li>
        <li><a routerLink="/admin/productos/lista">Producto</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/user/login">Login</a></li>
    <li><a routerLink="/user/Logout">Logout</a></li>
    <li><a routerLink="/admin/categoria/lista">Categoría</a></li>
    <li><a routerLink="/admin/productos/lista">Producto</a></li>
  </ul>